<%= form_with model: @article, local: true do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
<%= form.collection_select(:label_ids, @labels, :id, :name,{} ,{:multiple => true}) %>
  <%#= select_tag(:city_id, options_for_select(@labels)) %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
  

  <!-- <form.select  id="sid" onchange="selectcity()">  
            <option>-文章分类-</option>  
            <option>游戏</option>  
            <option>技术</option>  
            <option>娱乐</option>  
            <option>其他</option>  
  </select> --> 
  <p>
    <%= form.submit %>
  </p>
<% end %>