<h1>deleted articles</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>删除时间:</th>
    <th>文章标签:</th>
    <!-- 点击时间后↓, 发送desc参数到articles控制层 -->
    <th id= 'aaa'><%= link_to '时间↓', articles_path(order: :desc)%></th> 
    <!-- 点击时间后,  发送asc参数到articles控制层 -->
    <th id= 'ccc'><%= link_to '时间↑', articles_path(order: :asc) %></th>
    <th id="bbb">浏览量:</th>
    <th colspan="3"></th>
  </tr><br/>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.deleted_at %></td>
      <td><%= article.labels.map(&:name)%></td>
      <td>
        <% if current_user.role == "admin"  %>
          <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
        <% else %>
             <td></td>         
        <% end %>
      </td>
      <td><%= link_to 'restore', restore_article_path(article), method: :post %></td>
      <td><%= article.read_numbers %></td>
    </tr>

  <% end %>
  <p>
      <strong>文章标签:</strong>
      <% Label.all.each do |label| %>
  <%= link_to label.name, deleted_articles_path(label_id: label.id.to_s)%>
  <% end %>
  </p>
</table>
<%= paginate @articles %><br>
<style type="text/css">
  .ppp {
    margin: 0px;
  }
/*  .aaa {
    position: relative;
    right: -20%;
  }*/
  #bbb {
    position: relative;
    left: 9%
  }

  #aaa {
  	position: relative;
    left: 1%
  }

  #ccc{
  	position: relative;
    left: 4%
  }
</style>