<h1>Listing articles</h1>
<%= link_to '新建文章', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>创建时间:</th>
    <th>文章标签:</th>
    <!-- 点击时间后↓, 发送desc参数到articles控制层 -->
    <th><%= link_to '时间↓', articles_path(order: :desc)%></th> 
    <!-- 点击时间后,  发送asc参数到articles控制层 -->
    <th><%= link_to '时间↑', articles_path(order: :asc) %></th>
    <th id="bbb">浏览量:</th>
    <th colspan="3"></th>
  </tr><br/>
    <form action="/articles" method="get">
 <!-- 提交form表单  action指示提交到articles控制层，提交方法是get请求 -->
     <span>搜索文章：</span><input type="text" name='q' style="height:20px;width:100px;" />
     <!-- type规定提交类型，q是提交的参数 -->
     <button type="submit">搜索</button>
</form>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.created_at %></td>
      <td><%= article.labels.map(&:name)%></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <td><%= article.read_numbers %></td>
    </tr>

  <% end %>
  <p>
      <strong>文章标签:</strong>
      <% Label.all.each do |label| %>
  <%= link_to label.name, articles_path(label_id: label.id.to_s)%>
  <% end %>
  </p>
</table></br>
<%= paginate @articles %><br>
<form action="/articles" method="get">
     <span>请输入城市：</span><input type="string" name='city' style="height:20px;width:100px;" />
     <!-- type规定提交类型，q是提交的参数 -->
     <button type=s"submit">查询天气</button>
</form>

<span class="ppp">城市:</span>
<span class="ppp"><%= @weather['city'] %></span></br>

<span class="ppp">天气:</span>
<span class="ppp"><%= @weather['weather'] %></span></br>

<span class="ppp">温度:</span>
<span class="ppp"><%= @weather['temperature'] %></span></br>

<span class="ppp">风级:</span>
<span class="ppp"><%= @weather['wind'] %></span></br>

<span class="ppp">穿衣建议:</span>
<span class="ppp"><%= @weather['dressing_advice'] %></span></br>
<!-- <table>
   <tr>
      <td>温度:</td>
      <td><%#= @weather['temperature'] %></td>
    </tr>
    <tr>
      <td>天气:</td>
      <td><%#= @weather['weather'] %></td>
    </tr>
    <tr>
      <td>风级:</td>
      <td><%#= @weather['wind'] %></td>
    </tr> 
    <tr>
      <td>穿衣建议:</td>
      <td><%#= @weather['dressing_advice'] %></td>
    </tr> 
</table> -->
  
<style type="text/css">
  .ppp {
    margin: 0px;
  }
/*  .aaa {
    position: relative;
    right: -20%;
  }*/
  #bbb {
    position: relative;
    left: 1.9%
    
  }
</style>