<h2>Article</h2>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<p><strong>lable:</strong>
	<!-- 取出article对象中的所有标签，装换成map集合，取出集合中的name -->
<%=@article.labels.map(&:name)%></p>
<p><%= link_to '上一篇', previous_article_path(@article) %></p>
<p><%= link_to '下一篇', next_article_path(@article) %></p>
<% if @article.liked? current_user %>
<p><%= link_to '取消喜欢', unlike_article_path(@article), method: :put %></p>	
<% else %>
<p><%= link_to '喜欢', like_article_path(@article), method: :put %></p>
<% end %>
<p><%= link_to 'likers', likers_article_path(@article), method: :get %></p>
<p>
	<strong>readers:</strong><br>
	<% @readers.each do |user| %>
	<%= user.name %><br>
	<% end %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>
