<!DOCTYPE html>
<html>
  <head>
    <title>Study</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 <!--    <td>欢迎您,</td>
<%#= current_user&.name %> -->
  <% if current_user %>
  <td><%= link_to '个人中心', users_path(user_id: current_user.id.to_s)%></td>
 
  <!-- 拿到当前用户的id发往article控制层-->
  <td><%= link_to '我的文章', articles_path(user_id: current_user.id.to_s) %></td>
  <td><%= link_to '关注我的', followings_user_path(current_user) %></td> 
  <td><%= link_to '我关注的', followers_user_path(current_user) %></td>
  <% end%>
  <td><%= link_to '查看所有用户', users_path %></td>
  <td><%= link_to '所有文章', articles_path %></td>
  <td><%= link_to '智能问答机器人', answer_index_path %></td>
  <td><%= link_to '回收站', deleted_articles_path %>
  </head>

  <body>
  	 <% if user_signed_in?  %>
        <%= link_to '退出', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
     <% else %>
        <%= link_to '登录', new_user_session_path %>
    <% end %>
    
       <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
