<!DOCTYPE html>
<html>
  <head>
    <title>Study</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 <!--    <td>欢迎您,</td>
<%= current_user&.name %> -->
  <td><%= link_to '个人中心', user_path%></td>
  <% if current_user %>
 <td><%= link_to '我的文章', articles_path(user_id: current_user.id.to_s) %></td>
 <% end%>
 <td><%= link_to '返回', articles_path%></td>
  </head>

  <body>
  	 <% if user_signed_in?  %>
        <%= link_to '退出', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
     <% else %>
        <%= link_to '登录', new_user_session_path %>
    <% end %>
    
       <p class="alert"><%= alert %></p>
    <%= yield %>

    
 
  </body>
</html>
